arrow
brewer2mpl
cython
django
feedparser
flask
flask-cors
Flask-Login
flask-restful
flask-restplus==0.4.0
folium
geocoder
markdown
nose
numpy
pandas
parsedatetime
passlib
pymongo
python-dateutil
scikit-learn
tweepy
vincent
xlrd
